<html>
<title>
    MENTAL MATHS PRACTICE
</title>
<body>
        <center>
        <h1 style="height:10%; width:80%">SCORE {{ correct }} / {{ hey }}</h1>
        <h1 style="height:10%; width:80%">TIME {{ howlong }}</h1>
        <h1 style="height:10%; width:80%">{{ message }}</h1>
        <h1 style="max-width: 100%; height: auto;"><img src="{{ url_for('static', filename=filename)}}"></h1>
        <h1 style="height:1%; width:80%"></h1>
        <a href="/welcome/leaderboard">Go to Leaderboard</a>
        </center>
</body>
</html>