<html>
<title>
    MENTAL MATHS PRACTICE ADMIN PAGE
</title>
<body>
<form action = "http://localhost:5000/leaderboard" method = "post">
    <center>
        <h1>Number Of Questions Of Each Type<input type = "text" name = "NumberOfQuestions" value="{{ NumberOfQuestions }}"/></h1>
        <h1>Operators Tested<input type = "text" name = "OperatorsTested" value="{{ OperatorsTested }}"/></h1>
        <h1></h1>
        <h1>First Add Low<input type = "text" name = "FirstAddLow" value="{{ FirstAddLow }}"/></h1>
        <h1>First Add High<input type = "text" name = "FirstAddHigh" value="{{ FirstAddHigh }}"/></h1>
        <h1>Second Add Low<input type = "text" name = "SecondAddLow" value="{{ SecondAddLow }}"/></h1>
        <h1>Second Add High<input type = "text" name = "SecondAddHigh" value="{{ SecondAddHigh }}"/></h1>
        <h1>First Subtract Low<input type = "text" name = "FirstSubtractLow" value="{{ FirstSubtractLow }}"/></h1>
        <h1>First Subtract High<input type = "text" name = "FirstSubtractHigh" value="{{ FirstSubtractHigh }}"/></h1>
        <h1>Second Subtract Low<input type = "text" name = "SecondSubtractLow" value="{{ SecondSubtractLow }}"/></h1>
        <h1>Second Subtract High<input type = "text" name = "SecondSubtractHigh" value="{{ SecondSubtractHigh }}"/></h1>
        <h1>First Multiply Low<input type = "text" name = "FirstMultiplyLow" value="{{ FirstMultiplyLow }}"/></h1>
        <h1>First Multiply High<input type = "text" name = "FirstMultiplyHigh" value="{{ FirstMultiplyHigh }}"/></h1>
        <h1>Second Multiply Low<input type = "text" name = "SecondMultiplyLow" value="{{ SecondMultiplyLow }}"/></h1>
        <h1>Second Multiply High<input type = "text" name = "SecondMultiplyHigh" value="{{ SecondMultiplyHigh }}"/></h1>
        <h1>First Divide Low<input type = "text" name = "FirstDivideLow" value="{{ FirstDivideLow }}"/></h1>
        <h1>First Divide High<input type = "text" name = "FirstDivideHigh" value="{{ FirstDivideHigh }}"/></h1>
        <h1>Second Divide Low<input type = "text" name = "SecondDivideLow" value="{{ SecondDivideLow }}"/></h1>
        <h1>Second Divide High<input type = "text" name = "SecondDivideHigh" value="{{ SecondDivideHigh }}"/></h1>
        <input type = "submit" value = "Save"/>
    </center>
</form>
</body>
</html>