<html>
<title>
    LEADERBOARD
</title>
<body>
<center>
    <h1>LeaderBoard</h1>
</center>
<h1 style="color:blue;font-size:50px; height:10%; width:80%">{{ hm[0]['Name'] }} {{ hm[0]['Date'] }} {{ hm[0]['Time'] }}<img src="{{ url_for('static', filename=filename0) }}" width="100" height="100" align="left"></h1>
<h1 style="color:red;font-size:50px; height:10%; width:80%">{{ hm[1]['Name'] }} {{ hm[1]['Date'] }} {{ hm[1]['Time'] }}<img  src="{{ url_for('static', filename=filename1) }}" width="100" height="100" align="left"></h1>
<h1 style="color:yellow;font-size:50px; height:10%; width:80%">{{ hm[2]['Name'] }} {{ hm[2]['Date'] }} {{ hm[2]['Time'] }}<img src="{{ url_for('static', filename=filename2) }}" width="100" height="100" align="left"></h1>
<h1 style="color:green;font-size:50px; height:10%; width:80%">{{ hm[3]['Name'] }} {{ hm[3]['Date'] }} {{ hm[3]['Time'] }}<img src="{{ url_for('static', filename=filename3) }}" width="100" height="100" align="left"></h1>
<h1 style="color:mediumpurple;font-size:50px; height:10%; width:80%">{{ hm[4]['Name'] }} {{ hm[4]['Date'] }} {{ hm[4]['Time'] }}<img src="{{ url_for('static', filename=filename4) }}" width="100" height="100" align="left"></h1>
<a href="login">Go to Start</a>
</body>
</html>