<html>
<title>
    MENTAL MATHS PRACTICE
</title>
<body>
<form action = "http://localhost:5000/login" method = "post">
    <center>
    <h1 style="font-size : 100px; height:10%; width:50%">Mental Maths Test</h1>
    <h1 style="height:5%; width:100%"></h1>
    <h1 style="font-size : 100px; height:10%; width:50%">Enter Name:</h1>
    <input type = "text" name = "nm"  autocomplete="off" autofocus style="font-size : 100px; height:10%; width:50%; text-align:center;"/>
    <h1 style="height:10%; width:100%"></h1>
    <input type = "submit" value = "Login" style="font-size : 200%; height:10%; width:50%"/>
    <h1 style="height:10%; width:100%"></h1>
    </center>
</form>
</body>
</html>