<html>
<title>
    MENTAL MATHS PRACTICE
</title>
<body>
    <form action = "http://localhost:5000/welcome/{{ name }}" method = "post">
        <center>
        <h1 style="font-size : 100px; height:10%; width:50%">Hello {{ name }}!</h1>
        <h1 style="height:5%; width:50%"></h1>
        <h1 style="font-size : 100px; height:10%; width:50%">{{ NumberOfQuestions }} questions</h1>
        <h1 style="height:5%; width:50%"></h1>
        <h1 style="font-size : 100px; height:10%; width:50%">Try your best</h1>
        <h1 style="height:5%; width:50%"></h1>
        <input type = "submit" value = "Start" autofocus style="font-size : 200%; height:10%; width:50%"/>
        <h1 style="height:5%; width:50%"></h1>
        </center>
    </form>
</body>
</html>